<div class="login-container">

	<div class="text-center">
		<h1 class="m-5">Login</h1>
		<form name="loginForm" class="loginForm" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
			<div class="mb-3">
				<input type="text" id="username" class="form-control" [(ngModel)]="username" formControlName="username"
					placeholder="username">
			</div>
			<div class="mb-3">
				<input type="password" id="password" class="form-control" [(ngModel)]="password" formControlName="password"
					placeholder="password">
			</div>

			<button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg btn-block">Login</button>
		</form>

		<div class="d-flex justify-content-center mt-5">
			<div class="alert" *ngIf="invalidLogin">
				<ngb-alert [dismissible]="false" type="warning">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
						class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
						aria-label="Warning:">
						<path
							d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
					</svg>
					<strong>{{errorMessage}}</strong>
				</ngb-alert>
			</div>	
		</div>

	</div>
</div>